<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Doctor_Appointment_App.Properties.Settings.ConnectionDB"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MediCareDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>